
@import "tailwindcss";

:root{
    --color-coffee: #361402;
    --color-grad: linear-gradient(90deg, #361402 0%, #7e2807 50%,#c24a1a 100%);
}

.bg-grad {
    background: var(--color-grad);
}

.bg-coffee {
    background-color: var(--color-coffee);
}

.text-coffee {
    color: var(--color-coffee);
}




